# Data Exploration Code-Along

Implement the code-blocks below in order to explore some common data-exploration techniques. We will be using the `realestate.csv` file.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

KeyboardInterrupt:

In [2]:
# TODO: Load in your data from `../../data/realestate.csv`

df = pd.read_csv("realestate.csv")

In [3]:
# TODO: Observe first 5 rows

df.head()

,house age,distance_to_mrt,num_convenience_stores,price_per_unit_area,num_of_rooms,pet_friendly
0,19.5,306.5947,9.0,42.2,2,No
1,13.3,561.9845,5.0,47.3,2,No
2,13.3,561.9845,5.0,54.8,4,No
3,5.0,390.5684,5.0,43.1,3,No
4,7.1,2175.0300,3.0,32.1,3,Yes

In [5]:
# Gives info on data set

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   house age               334 non-null    float64
 1   distance_to_mrt         334 non-null    float64
 2   num_convenience_stores  334 non-null    float64
 3   price_per_unit_area     334 non-null    float64
 4   num_of_rooms            334 non-null    int64
 5   pet_friendly            334 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 15.8+ KB

In [7]:
# Check if theres null values 

df.isna()

# Add up all the null values

df.isna().sum()

house age                 0
distance_to_mrt           0
num_convenience_stores    0
price_per_unit_area       0
num_of_rooms              0
pet_friendly              0
dtype: int64

In [8]:
# row & column
df.loc[:, 'distance_to_mrt']

0       306.59470
1       561.98450
2       561.98450
3       390.56840
4      2175.03000
          ...
329     372.13860
330      90.45606
331     390.96960
332     104.81010
333      90.45606
Name: distance_to_mrt, Length: 334, dtype: float64

In [10]:
df.iloc[:, 1]

0       306.59470
1       561.98450
2       561.98450
3       390.56840
4      2175.03000
          ...
329     372.13860
330      90.45606
331     390.96960
332     104.81010
333      90.45606
Name: distance_to_mrt, Length: 334, dtype: float64

In [4]:
# TODO: describe tukey's numbers

df.describe()

,house age,distance_to_mrt,num_convenience_stores,price_per_unit_area,num_of_rooms
count,334.000000,334.000000,334.000000,334.000000,334.000000
mean,17.533234,812.824629,4.880240,40.295509,2.814371
std,11.775630,984.274974,2.552282,12.756827,1.513196
min,0.000000,23.382840,1.000000,7.600000,1.000000
25%,7.800000,279.172600,3.000000,31.100000,1.250000
50%,15.600000,443.967700,5.000000,40.300000,3.000000
75%,29.250000,967.400000,7.000000,47.850000,4.000000
max,43.800000,6488.021000,10.000000,117.500000,6.000000

In [ ]:
# TODO: count the frequency of unique values in the "num_of_rooms" column, save this value into a new dataframe named "room_counts"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html

room_counts = df.value_counts("num_of_rooms")
room_counts

# Basic Pandas 

Let's tackle questions 1-5 as a group (co-coding). We will call on you randomly to solve these programming problems. Think of this as an equivalent of programming interview questions.

In [ ]:
import pandas as pd
import numpy as np

data = {
    "type": ["Robusta", "Arabica", "Robusta", "Arabica", "Arabica"],
    "amount_kg": [10, 100, 20, 50, 80],
    "destination": ["US", "US", "JP", "DE", "US"],
    "unit_price": [3.264, 4.473, 3.293, 4.573, 4.473]
}

df = pd.DataFrame(data)

In [ ]:
# Q1
# TODO: Use a pandas method on `df` to count the frequency of orders by countries in this dataset

...

In [ ]:
# Q2
# TODO: Use a pandas method on `df` to calculate the mean amount_kg ordered

...

In [ ]:
# Q3
# TODO: Use a pandas method on `df` to calculate the median unit_price

...

# Split Apply Combine

Questions 1-3 build off the previous code-blocks.

In [ ]:
# Q1
# TODO: Calculate the mean unit_price for each destination

...

In [ ]:
# Q2
# TODO: Calculate the mean amount_kg for each type

...

In [ ]:
# Q2
# TODO: Calculate the mean unit_price for each destination & type

...

# Resampling

We will tackle questions 1-3 as a group (co-coding). We will call on you randomly to solve these programming problems. Think of this as an equivalent of programming interview questions.

In [ ]:
df = pd.read_csv("tweets.csv")
df.head()

In [ ]:
# Q1
# TODO: Convert the `date` column into a datetime data-type

...

In [ ]:
# Q2
# TODO: Resample according to 1-day and calculate the mean sentiment of each day

...

In [ ]:
# Q3
# TODO: Resample according to a rolling window of 3-days and calculate the mean sentiment of period

...